{
  "refName": "QUEUEMANAGER-1",
  "serviceType": "QUEUEMANAGER",
  "serviceConfigs": [
      {
          "name" : "zookeeper_service",
          "ref": "ZOOKEEPER-1"
        }
  ],
  "roleConfigGroups": [
    {
      "refName": "QUEUEMANAGER-1-QUEUEMANAGER_WEBAPP-BASE",
      "roleType": "QUEUEMANAGER_WEBAPP",
      "base": true
    },
    {
      "refName": "QUEUEMANAGER-1-QUEUEMANAGER_STORE-BASE",
      "roleType": "QUEUEMANAGER_STORE",
      "base": true
    }
  ]
}
